*{
    margin: 0;
    padding: 0;
}

.box{
    list-style-type: none;
    
    
}

.photos{
    list-style-type: none;
    margin-left: 100px;
margin-top: 50px;
}

.text{
    margin-left: 120px;
    margin-top: -65px;
    font-size: 35px;
    font-weight: 600;
}

.box2{
    display: flex;
    margin-left: 1000px;
    list-style-type: none;
margin-top: -25px;
font-size: 25px;
}

.text2{
    margin-left: 60px;
}
.text3{
margin-left: 60px;
}

.text4{
margin-left: 60px;
}

.text5{
     margin-left:60px;
     border: solid;
     padding: 5px 25px 5px 25px;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     margin-top: -20px;
     padding: 15px 25px 15px 25px;
     background-color: white;
     border-color: white;
     color: rgb(99, 96, 96);
}

.text6{
    margin-left: 60px;

    color: white;
    border: solid;
    padding: 15px 30px 10px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: -20px;
    background-color: #F48C06;
}

body{
    background:  #FFF2E1;;
}


.rasm{
    margin-left :1150px;
    margin-top: 70px;
}

.box3{
margin-left: 150px;
margin-top: -600px;
list-style-type: none;
}

.title{
    font-size: 50px;
    font-weight: 600;
    color: 
    #2F327D;
}
.title1{
    margin-top: 30px;
    font-size: 23px;

}

.title2{
    margin-top: 5px;
    font-size: 23px;
}






